.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(96, 96, 96);
    padding: 15px 10px;
    height: 10vh;
}


.header-label {
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    flex-grow: 1;
}

span {
    color: white;
    font-size: 24px;
}

.btn-header {
    border: none;
    background: #919191;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-header:hover {
    background: black;
}